<!DOCTYPE html>
<html lang="en">

<head>
    <!--for Responsiveness-->
    <meta name="viewport" Content="width=device-width, initial-scale=1.0">
</head>

<body>

    <!--for Responsiveness-->
    <meta name="viewport" Content="width=device-width, initial-scale=1.0">
    <form action="/verify" method="post" enctype="multipart/form-data">
        <center>
            <h1>Send a mail service</h1>
        </center><br><br>
        <center>
            <h1>Name :</h1> <input type="text" name="Name" style="width: 30%;height: 50px;" required="required">
        </center>
        <center>
            <h1> Email id :</h1> <input type="text" name="sender" style="width: 30%;height: 50px;" required="required">
        </center>

        <br><br>

        <center>
            <button type="submit" style="width: 20%;height: 40px;">Submit</button>
        </center>

    </form>






</body>

</html>